<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-fluid bg-secondary">
    <div class="jumbotron text-center" >
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row container-fluid my-4 mx-1">
      <div class="card col-lg">
        <div class="card-body">
          <h3 class="card-title" style="font-weight: bold;">Latest Mars News</h3>
          <hr>
          <h4 class="card-text" style="font-weight: bold;">{{ mars.news_title }}</h4>
          <p class="card-text">{{ mars.news_p }}</p>
        </div>
      </div>
    </div>
    <div class="row container-fluid my-4 mx-1">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" style="font-weight: bold;">Featured Mars Image</h3>
            <hr>
            <div style="height: 500px">
                <img class="img-fluid mx-auto d-block"  style="width: 100%;max-height: 100%" src="{{ mars.featured_image }}" alt="mars">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="card col-lg my-2">
            <div class="card-body">
              <h3 class="card-title" style="font-weight: bold;">Current Weather On Mars</h3>
              <hr>
              <p class="card-text">{{ mars.weather }}</p>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="card col-lg my-2">
            <div class="card-body">
              <h3 class="card-title" style="font-weight: bold;">Mars Facts</h3>
              <hr>
              {{ mars.facts | safe}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row container-fluid my-4 mx-1">
      <div class="card col-lg">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Mars Hemispheres</h3>
          <hr>
          
          <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="thumbnail">
                      <div style="height: 600px">
                          <img class="card-img-top" style="width: 100%;max-height: 100%" src="{{ mars.hemispheres[0]["url"] }}" alt="{{ mars.hemispheres[0]["title"] }}">
                          <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">{{ mars.hemispheres[0]["title"] }}</h5>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6">
                  <div class="card">
                      <div class="thumbnail">
                          <div style="height: 600px">
                              <img class="card-img-top" style="width: 100%;max-height: 100%" src="{{ mars.hemispheres[1]["url"] }}" alt="{{ mars.hemispheres[1]["title"] }}">
                              <div class="card-body">
                                <h5 class="card-title" style="font-weight: bold;">{{ mars.hemispheres[1]["title"] }}</h5>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div> 

          <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="thumbnail">
                      <div style="height: 600px">
                          <img class="card-img-top" style="width: 100%;max-height: 100%" src="{{ mars.hemispheres[2]["url"] }}" alt="{{ mars.hemispheres[2]["title"] }}">
                          <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">{{ mars.hemispheres[2]["title"] }}</h5>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6">
                  <div class="card">
                      <div class="thumbnail">
                          <div style="height: 600px">
                              <img class="card-img-top" style="width: 100%;max-height: 100%" src="{{ mars.hemispheres[3]["url"] }}" alt="{{ mars.hemispheres[3]["title"] }}">
                              <div class="card-body">
                                <h5 class="card-title" style="font-weight: bold;">{{ mars.hemispheres[3]["title"] }}</h5>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div>  
          
          
          
        </div>
      </div>
    </div>
  </div>

</html>